*
  margin 0
  padding 0

html
  background url('grilled.png') repeat
body
  font-family 'Futura', sans-serif
  width 960px
  margin 32px auto
h1
  line-height 2
  font-size 72px
  font-weight normal
  text-shadow 0px 1px 0px #fff
#sunset
  display block
  width 960px
  height auto
footer
  text-align center
  margin 16px
  & a
    color #00aa66
    text-decoration none
    position relative
    &:hover
      text-decoration underline
    &:active
      top 1px
